system_public_prop(vendor_call_prop)
system_public_prop(sec_camera_prop)
system_public_prop(sns_camera_light_prop)
system_public_prop(vendor_samsung_audio_prop)
